<h2>Your Profile</h2>

Hello {{name}} (<i>{{username}}</i>)

<br>
<br>
<img *ngIf="photo" [src]="photo" class="img-avatar">

<hr>

<div>
  <p><strong>First Name: </strong> {{profile?.givenName}}</p>
  <p><strong>Last Name: </strong> {{profile?.surname}}</p>
  <p><strong>PrincipalName: </strong> {{profile?.userPrincipalName}}</p>
  <p><strong>Mail: </strong> {{profile?.mail}}</p>
  <p><strong>Mobile: </strong> {{profile?.mobilePhone}}</p>
  <p><strong>Job Title: </strong> {{profile?.jobTitle}}</p>
</div>
